@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<form class="row g-1 p-0 p-md-4" method="post">
    <div class="col-12 text-center mb-5">
        <img src="https://alui.thememakker.com/html/assets/images/auth-password-reset.svg"
             class="w240 mb-4"
             alt="" />
        <h1>Forgot password?</h1>
        <span>
            Enter the email address you used when you joined and
            we'll send you instructions to reset your
            password.
        </span>
    </div>
    <div class="col-12">
        <div class="mb-2">
            <label class="form-label">Email address</label>
            <input asp-for="Input.Email" class="form-control form-control-lg" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
    </div>
    <div class="col-12 text-center my-4">
        <button type="submit" class="btn btn-lg btn-block btn-dark lift text-uppercase">Submit</button>
    </div>
    <div class="col-12 text-center mt-4">
        <span class="text-muted"><a asp-page="./Login">Back to Sign in</a></span>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
