@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="row g-1 p-0 p-md-4">
    <div class="col-12 text-center mb-5">
        <img src="https://alui.thememakker.com/html/assets/images/auth-password-reset.svg"
             class="w240 mb-4"
             alt="" />
        <h1>@ViewData["Title"]</h1>
        <span>

            Please check your email to reset your password.
        </span>
    </div>

    <div class="col-12 text-center mt-4">
        <span class="text-muted"><a asp-page="./Login">Back to Sign in</a></span>
    </div>
</div>