@page
@model RegisterModel

@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Register";
}


<form class="row g-1 p-0 p-md-4" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="col-12 text-center mb-4">
        <h1>Create an account</h1>
        <span>Free access to our dashboard.</span>
    </div>
    <div class="col-12 mb-2">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>
    <div class="col-6">
        <div class="mb-2">
            <label class="form-label">Full name</label>
            <input type="text"
                   asp-for="Input.FirstName"
                   class="form-control form-control-lg"
                   placeholder="John" required />
        </div>
    </div>
    <div class="col-6">
        <div class="mb-2">
            <label class="form-label">&nbsp;</label>
            <input type="text"
                   asp-for="Input.LastName"
                   class="form-control form-control-lg"
                   placeholder="Parker" required />
        </div>
    </div>
    <div class="col-12">
        <div class="mb-2">
            <label class="form-label">Email address</label>
            <input type="email"
                   asp-for="Input.Email"
                   class="form-control form-control-lg"
                   placeholder="name@example.com" required />
        </div>
    </div>
    <div class="col-12">
        <div class="mb-2">
            <label class="form-label">Password</label>
            <input type="password"
                   asp-for="Input.Password"
                   class="form-control form-control-lg"
                   placeholder="8+ characters required" required />
        </div>
    </div>
    <div class="col-12">
        <div class="mb-2">
            <label class="form-label">Confirm password</label>
            <input type="password"
                   asp-for="Input.ConfirmPassword"
                   class="form-control form-control-lg"
                   placeholder="8+ characters required" />
        </div>
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input"
                   asp-for="Input.AcceptTerms"
                   type="checkbox"
                   required
                   />
            <label class="form-check-label" for="flexCheckDefault">
                I accept the
                <a href="#" title="" class="text-primary">Terms and Conditions</a>
            </label>
        </div>
    </div>
    <div class="col-12 text-center mt-4">
        <button type="submit"
                class="btn btn-lg btn-block btn-dark lift text-uppercase">
            SIGN UP
        </button>
    </div>
    <div class="col-12 text-center mt-4">
        <span class="text-muted">
            Already have an account?
            <a asp-page="./Login">Sign in here</a>
        </span>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
