@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend Email Confirmation";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="row g-1 p-0 p-md-4">
    <div class="col-12 text-center mb-5">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="col-12">
        <div asp-validation-summary="All" class="text-danger"></div>
    </div>

    <form method="post">
        <div class="col-12">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email"
                   class="form-control form-control-lg" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="col-12 text-center mt-4">
            <button type="submit"
                    class="btn btn-lg btn-block btn-dark lift text-uppercase">
                SIGN IN
            </button>
        </div>
    </form>

    <div class="col-12 text-center mt-4">
        <span class="text-muted"><a asp-page="./Login">Back to Sign in</a></span>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
