@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div class="row g-1 p-0 p-md-4">
    <div class="col-12 text-center mb-5">
        <h1>@ViewData["Title"]</h1>
    </div>

    <div class="col-12 text-center mb-4">
        <p>
            Your password has been reset. <br/> Please <a asp-page="./Login">click here to log in</a>.
        </p>
    </div>
</div>
